{% extends "base.html" %}

{% block header %}Dashboard{% endblock %}


{% block content %}


	<table class="table table-striped">
		<thead>
		  <tr>
		    <th>Firstname</th>
		    <th>Lastname</th>
		    <th>Email</th>
		    <th>% of Completion</th>
		    <th>Submitted</th>
		    <th>&nbsp;</th>
		  </tr>
		</thead>
		<tbody>
			{% for each_data in response_data %}
			  <tr>
			  	<td>{{each_data.borrower.first_name}}</td>
			    <td>{{each_data.borrower.last_name}}</td>
			    <td>{{each_data.borrower.user.email}}</td>
			    {% if each_data.status == 2 %}
			    	<td>100</td>
			    	<td><span class="glyphicon">submitted</span></td>
			    {% else %}
			    	<td><span id="id_result_{{each_data.questionnaire_uuid}}"></span>&nbsp;<a href="javascript:void(0)" class="cls_completion" id="id_txt_{{each_data.questionnaire_uuid}}" q_uuid="{{each_data.questionnaire_uuid}}">Get completion %</a></td>
			    	<td><span class="glyphicon"></span></td>
			    {% endif %}
			    <td> 
			    	<div class="dropdown">
					  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
					    Action
					  </button>
					  <div class="dropdown-menu">
					    <a class="dropdown-item" href="/app/resume_questionnaire/{{each_data.questionnaire_uuid}}">Resume</a>
					    <a class="dropdown-item" href="/app/submit_questionnaire/{{each_data.questionnaire_uuid}}">Submit</a>
					    {% if each_data.status == 2 %}
					    <a class="dropdown-item" href="/app/export_file/{{each_data.questionnaire_uuid}}">Export File</a>
					    <a class="dropdown-item" href="/app/questionnaire_summary/{{each_data.questionnaire_uuid}}">Questionnaire Summary</a>
					    {% endif %}
					  </div>
					</div> 
				</td>
			  </tr>
			{% endfor %}

		</tbody>
	</table>

	<div class="row">
		<div class="col"><br></div>
	</div>

	<div class="row">
		<div class="col"><a href="create_questionnaire/"><button type="button" class="btn btn-secondary">Create New Questionnaire</button></a></div>
	</div>

<script>

	$(".cls_completion").click(function(e){

		console.log("Its here...")
		e.preventDefault();

		questionnaire_uuid = $(this).attr('q_uuid')
		app_url = "/app/get_application_progress/"+questionnaire_uuid

		$.ajax(
			{url: app_url, 
			success: function(result){
				console.log(result)
	    		$('#id_result_'+questionnaire_uuid).text(result)
	    		$('#id_txt_'+questionnaire_uuid).text("Refresh completion %")
			}
		});

	});


</script>


{% endblock %}




