
<html>
    <head>
		<title>PerfectLO-POC</title>
		<!-- Latest compiled and minified CSS -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://getbootstrap.com/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://getbootstrap.com/docs/4.0/examples/sticky-footer-navbar/sticky-footer-navbar.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    </head>
    <body>

		<header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">PerfectLO-POC</a>
	        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
	          <span class="navbar-toggler-icon"></span>
	        </button>
	        <div class="collapse navbar-collapse" id="navbarCollapse">
	          <ul class="navbar-nav mr-auto">
	            <!-- <li class="nav-item active">
	              <a class="nav-link" href="#">DashBoard <span class="sr-only">(current)</span></a>
	            </li> -->
	          </ul>
	        </div>
      </nav>
    </header>

    <!-- Begin page content -->
    <main role="main" class="container">

      

    	<h4 class="mt-5">
    	What is the purpose of the loan?(Check all that apply)
    	</h1>

    	

<form id="id_questions_form" action="" method="POST">

	 <html>
            <body>
                <form name="deleteForm" method="get" action="">
                     User 1 <input type="checkbox" name="user" value="delete" />
                </form>
            </body>
        </html>

	<input type='hidden' name='csrfmiddlewaretoken' value='LmFHSZAXoKjR4KdsFaO64R07g3hxckaQ' />

	<div class="col-md-12"><div class="row"><label class="form-check-label"></label><ul><li><input name="SelectedAnswersList" value="Purchasing" id="id_1_1" promtData="Purchasing" api_answer="Purchasing" class="form-check-input" type="checkbox" checked>
                                <label class="form-check-label" for="id_1_1">Purchasing</label></li><li><input name="SelectedAnswersList" value="None" id="id_2_1" promtData="Refinancing" api_answer="Refinancing" class="form-check-input" type="checkbox" >
                                <label class="form-check-label" for="id_2_1">Refinancing</label></li><li><input name="SelectedAnswersList" value="None" id="id_3_1" promtData="Construction" api_answer="Construction" class="form-check-input" type="checkbox" >
                                <label class="form-check-label" for="id_3_1">Construction</label></li><li><input name="SelectedAnswersList" value="None" id="id_4_1" promtData="Construction-Permanent" api_answer="Construction-Permanent" class="form-check-input" type="checkbox" >
                                <label class="form-check-label" for="id_4_1">Construction-Permanent</label></li><li><input name="SelectedAnswersList" value="None" id="id_5_1" promtData="Other" api_answer="Other" class="form-check-input" type="checkbox" >
                                <label class="form-check-label" for="id_5_1">Other</label></li></ul></div></div>

	<div class="col-md-12">
		<input type="hidden" id="hdn_response" name="hdn_response_val" val="">
		<div class="row"><br></div>
	</div>

	<div class="col-md-12">
		 <div class="row">
		 	<div class="col-md-4">
		 		<button type="button" id="btn_back" class="btn btn-secondary active">Back</button> 
		 		<button type="button" id="btn_save" class="btn btn-secondary active">Save & Continue</button> 
		 	</div>
		 	<div class="col-md-4">&nbsp;</div>	
		 	<div class="col-md-4"><a href="/app/"><button type="button" id="btn_exit" class="btn btn-secondary active">Exit Questionnaire</button></a></div>
		</div>
	</div>

</form>


<pdf:nextpage>

Hello! hai

<script type="text/javascript">

</script>




    </main>

    <footer class="footer">
      <div class="container">
        <span class="text-muted">@PerfectLO </span>
      </div>
    </footer>
    </body>
</html>
